
//////logo
.logo{
 height: 3.5rem;
 margin-left:3rem;
 

}


///// search box
.search{
    flex: 0 0 60%;
    display:flex;
    align-items: center;
    justify-content: center;

    &__input{
    font-family: inherit;
    font-size:inherit;
    background: var(--color-grey-light-2);
    border:none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width:80%;
    margin-right:-3.5rem;
        &:focus{
         outline:none;
         width:100%;
         background: var(--color-grey-light-3);
         transition: all .5!important;

        }
    }
    &__input:focus + &__button{
        background:var(--color-grey-light-3);
    
     }
    
    &__button{
       border:none;
       background:var(--color-grey-light-2);
        &:focus{
         outline:none;
        }
        &:active{
         transform:translateY(2px); 
        }
    }
     &:-webkit-input-placeholder{
         font-weight:100;
         color: var(--color-grey-light-2);

     }
    &__icon{
      width: 2rem;
      height: 2rem;
      fill:var(--color-grey-dark-2);

    }
}

///// user 

.user-nav{
    // background: greenyellow;
    display:flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    & > *{  
        cursor:pointer;
        padding: 0 2px;
        height:100%;
    }
    & > *:hover{
        background:var(--color-grey-light-2);
        
    }
    &__icon-box{
       display: flex;
       align-items: center;
       position: relative;
    
    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        
    }
    &__notification{
       font-size: .8rem;
       height: 1.75rem;
       width: 1.75rem;
       border-radius: 50%;
       background-color:var(--color-primary);
       color:#fff;
       padding:5px;
       position:absolute;
       top:5px;
       right:16.5rem;
       display: flex;
       justify-content: center;
       align-items:center;
    }
    &__user{
      flex: 0 0 17%; 
     
    }
    &__user-photo{
    }
 }
#user-photo{
    width: 3.75rem!important;

}