
.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color:var(--color-grey-light-2);
  box-shadow: var(--color-shadow-dark);
  min-height: 50rem;
}
.header{
  font-size:1.7rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content{
  display: flex;

}
.hotel-view{
  background-color: #fff;
  flex:1; /*will occupy the rest 100% space over all the available space it has*/

}
.sidebar{
 background:var(--color-grey-dark-1);
 flex: 0 0 18%;

}
.form{
  display:flex;
  background:orange;
  flex:0 0 45%;
  justify-content:center;
  transform: all .5;
}